

nav{
    background: rgb(104, 104, 197);
    max-width: auto;
    min-height: 50px;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    font-size: 18px;
}

nav ul li a:hover{
    background: rgb(107, 33, 177);
}
 /*Formato para Slider*/
body{
    background-color: rgb(172,212,245);
}
.slider{
    width:95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding:0%;
    width: 400%;
    display: flex;
    animation: slide 20s infinite;
   
}

.slider ul li{
    width: 100%;
    list-style: none;
}

.slider ul li img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}
